<h1>New Contact</h1>

<%= form_for @contact do |f| %>
  <div class="field">
    <%= f.label :account_id %><br />
    <%= f.collection_select :account_id, Account.order(:name), :id, :name, include_blank: true %>
  </div>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :contact_number %><br />
    <%= f.text_field :contact_number %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>
